.root {
    font-family: 'Arial';
}

ul{
    padding: 0;
    margin-bottom: 0;
}

.red{
    background-color: #d17069 !important;
    td{
        color: white;
    }
    a{
        color:white;
    }
}

.yellow{
    background-color: #f6fa7f !important;
}

td a{
    color: black;
}

td a:hover{
    color: black;
}

.red a:hover{
    color: white;
}